*~
\#*
/patches
/cscope.*
/TAGS
Makefile.in
Makefile
/.tarball-version
/COPYING
/ChangeLog
/INSTALL
/Makefile.in
/aclocal.m4
/build-aux
/config.h.in
/configure
/doc/gnu-pw-mgr.1
/doc/gnu-pw-mgr.info
/doc/gnu-pw-mgr.texi
/doc/sort-pw-cfg.1
/lib
/libopts
/m4
/src/Makefile.am
/src/fwd.h
/src/gpw-str.c
/src/gpw-str.h
/src/sort-opts.c
/src/sort-opts.h
